

<!-- <div class="flex-container">
    <div>Days</div>
    <div>Opening Time</div>
    <div>Closing Time</div>  
  </div> -->

<table class="table">
  <h1>Hours Of Operation</h1>

  <tr>
  <th> Days </th>
  <th> Opening Time </th>
  <th> Closing Time </th> 
  </tr>

  <tr>
    <td>Sunday</td>
    <td> <input type="time"></td>
    <td> <input type="time"> </td>
  </tr>
  
   <tr>
    <td>Monday</td>
    <td> <input type="time"></td>
    <td> <input type="time"> </td>
  </tr>
  
  <tr>
    <td>Tuesday</td>
    <td> <input type="time"></td>
    <td> <input type="time"> </td>
  </tr>
  
   <tr>
    <td>Wednesday</td>
    <td> <input type="time"></td>
    <td> <input type="time"> </td>
  </tr>

   <tr>
    <td>Thursday</td>
    <td> <input type="time"></td>
    <td> <input type="time"> </td>
  </tr>
  
   <tr>
    <td>Friday</td>
    <td> <input type="time"></td>
    <td> <input type="time"> </td>
  </tr>
  
   <tr>
    <td>Saturday</td>
    <td> <input type="time"></td>
    <td> <input type="time"> </td>
  </tr>
 
</table>